---
const { } = Astro.props;
---

<section>
  <div class="mx-auto px-4 sm:px-6 md:h-[100vh]">
    <div class="pt-40 lg:pt-52 pb-12 md:pb-20 relative xl:top-[10vw] lg:top-[14vw]">
      <div class="text-center pb-12 md:pb-16">
        <h1 class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4  ">
          Photon
          <span class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-pink-500"> Discord's</span>
          <span class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-pink-500">Sleek Bot</span>
        </h1>
        <div class="max-w-3xl mx-auto">
          <p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
            Photon, a sleek, elegant discord bot, based around moderation, but with many rich features
          </p>
          <div class="max-w-none flex justify-center  ">
            <div>
              <a class="btn text-white bg-blue-600 hover:bg-blue-700 mb-4 sm:mb-0" href="#0">Get
                started</a> <!-- Add href here -->
            </div>
            <div>
              <a class="btn text-white bg-gray-900 hover:bg-gray-800 dark:bg-gray-800 dark:hover:bg-gray-700 ml-4"
                href="./features" aria-label="Learn More">Our Features</a> <!-- Add href here -->
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="relative flex justify-center mb-8  ">
        </div>
      </div>
    </div>
  </div>
</section>
