---
import { IconTheme, IconGithub, IconMenu } from "~/components/astro/icons";
const { } = Astro.props;
---

<header
  class="fixed top-0 z-40 flex-none mx-auto w-full bg-white/90 dark:bg-slate-900/90 backdrop-blur-sm border-b dark:border-b-slate-800">

  <div class="py-3 px-3 mx-auto w-full lg:flex lg:justify-between max-w-6xl lg:px-4">
    <div class="flex justify-between">
      <a class="flex items-center" href="/">
        <span
          class="self-center ml-2 text-2xl font-extrabold text-gray-900 whitespace-nowrap dark:text-white">Photon</span>
      </a>
      <div class="flex items-center lg:hidden">
        <button type="button"
          class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
          onclick="window.toggleDarkMode()" aria-label="Switch Theme">
          <IconTheme />
        </button>
        <button
          class="ml-1 text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 rounded-lg text-sm p-2.5 inline-flex items-center"
          onclick="toggleMenu()" aria-label="Open Hamburger Menu">

          <IconMenu />
        </button>
      </div>
    </div>
    <div class="items-center w-full lg:w-auto hidden lg:flex text-gray-600 dark:text-slate-200" id="menu">
      <ul class="flex flex-col py-2 lg:py-0 lg:flex-row lg:self-center collapse w-full lg:w-auto collapsed">
        <li>
          <a class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
            href="./features">Features</a>
        </li>
        <li>
          <a class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
            href="./docs">Documentation</a>
        </li>
      </ul>
      <div class="lg:self-center flex items-center mb-4 lg:mb-0 collapse collapsed">
        <div class="hidden items-center mr-3 lg:flex">
          <button type="button"
            class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
            onclick="window.toggleDarkMode()" aria-label="Switch Theme">
            <IconTheme />
          </button>
          <a href="https://github.com/ayowxifu/dbw"
            class="inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg text-sm p-2.5 mr-1"
            aria-label="Open GitHub">
            <IconGithub /> <!-- Update href -->
          </a>
        </div>
      </div>
    </div>
  </div>
</header>