---
const { } = Astro.props;
---

<section class="bg-white dark:bg-gray-900 px-4 sm:px-6 relative lg:px-0 lg:top-6 top-12">
  <div class="pb-12 md:pt-10 md:pb-20 xl:top-[6vw] lg:top-[10vw] lg:max-w-[90vw] lg:left-[5vw] py-8 relative">
    <h1 class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white text-center">explore our <br>
      awesome
      <span class="underline decoration-blue-600">Features</span>
    </h1>

    <p class="mt-4 text-gray-500 xl:mt-6 dark:text-gray-300 text-center">
      Photon is a simple and easy to use discord moderation bot, packed full of features, with no paywall included!
    </p>

    <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-16 md:grid-cols-2 xl:grid-cols-3">
      <div class="space-y-3 dark:bg-slate-800 bg-blue-50 p-4 rounded-2xl">
        <span
          class="inline-block p-3 text-blue-500 bg-blue-100 rounded-full dark:text-white dark:bg-blue-500 left-[44.75%] relative">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
          </svg>
        </span>
        <h1 class="text-2xl font-semibold text-gray-700 capitalize text-center dark:text-white">A Fast Music System
        </h1>

        <p class="text-gray-500 dark:text-gray-300">
          It includes a simple and easy to use music system, based on lavalink and erela.js frameworks, for incredible speeds!
        </p>
      </div>

      <div class="space-y-3 dark:bg-slate-800 bg-blue-50 p-4 rounded-2xl">
        <span
          class="inline-block p-3 text-blue-500 bg-blue-100 rounded-full dark:text-white dark:bg-blue-500 left-[44.9%] relative">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
          </svg>
        </span>
        <h1 class="text-2xl font-semibold text-gray-700 capitalize text-center dark:text-white">Including A Role Select Menu!</h1>

        <p class="text-gray-500 dark:text-gray-300">
          Want to add autoroles to your server? No problem! Photons autorole system is the easiest to use and setup out there!
        </p>
      </div>

      <div class="space-y-3 dark:bg-slate-800 bg-blue-50 p-4 rounded-2xl">
        <span
          class="inline-block p-3 text-blue-500 bg-blue-100 rounded-full dark:text-white dark:bg-blue-500 left-[44.9%] relative">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
          </svg>
        </span>
        <h1 class="text-2xl font-semibold text-gray-700 capitalize text-center dark:text-white">With a simple and effective timout system!</h1>

        <p class="text-gray-500 dark:text-gray-300">
          Includes a convenient timeout system for all those misbehaving members
        </p>
      </div>

      <div class="space-y-3 dark:bg-slate-800 bg-blue-50 p-4 rounded-2xl">
        <span
          class="inline-block p-3 text-blue-500 bg-blue-100 rounded-full dark:text-white dark:bg-blue-500 left-[44.9%] relative">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
          </svg>
        </span>
        <h1 class="text-2xl font-semibold text-gray-700 capitalize text-center dark:text-white">An Easy Ban And Logging System!</h1>

        <p class="text-gray-500 dark:text-gray-300">
          An effective ban command, including logging and unbanning!
        </p>
      </div>

      <div class="space-y-3 dark:bg-slate-800 bg-blue-50 p-4 rounded-2xl">
        <span
          class="inline-block p-3 text-blue-500 bg-blue-100 rounded-full dark:text-white dark:bg-blue-500 left-[44.9%] relative">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
          </svg>
        </span>
        <h1 class="text-2xl font-semibold text-gray-700 capitalize text-center dark:text-white">A USERful User report system
        </h1>

        <p class="text-gray-500 dark:text-gray-300">
          Setup a channel for user reports, and allow members to report misbehaving members
        </p>
      </div>

      <div class="space-y-3 dark:bg-slate-800 bg-blue-50 p-4 rounded-2xl">
        <span
          class="inline-block p-3 text-blue-500 bg-blue-100 rounded-full dark:text-white dark:bg-blue-500 left-[44.9%] relative">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
          </svg>
        </span>
        <h1 class="text-2xl font-semibold text-gray-700 capitalize text-center dark:text-white">An Effective User Ticket Sytem
        </h1>

        <p class="text-gray-500 dark:text-gray-300">
          Includes an easy to setup user ticket system, to allow your members to contact staff
        </p>
      </div>
    </div>
  </div>
</section>