---
import Layout from "~/layouts/Layout.astro";
import BasicFeatures from "~/components/astro/features/BasicFeatures.astro";
---

<Layout title="Features - Photon" description="I am the features page">
    <main class="w-[100vw] h-[100vh]">
        <BasicFeatures />
    </main>
</Layout>