---
import Layout from '~/layouts/Layout.astro';
import HeroIndex from '~/components/astro/hero/HeroIndex.astro';
import Header from '~/components/astro/headers/BasicHeader.astro';
import Footer from "~/components/astro/footers/BasicFooter.astro";
---

<Layout title="Home - Photon" description="I am the index page!">
	<main class="w-[100vw]">
	    <Header />
		<HeroIndex />
	</main>
</Layout>