---
import Layout from '~/layouts/Layout.astro';
import HeroIndex from '~/components/astro/hero/HeroIndex.astro';
---

<Layout title="Home - Photon" description="I am the index page!">
	<main class="w-[100vw]">
		<HeroIndex />
	</main>
</Layout>