---
import Layout from '~/layouts/Layout.astro';
import HeroDocs from '~/components/astro/hero/HeroDocs.astro';
---

<Layout title="Docs - Photon" description="I am the index page!">
	<main>
		<HeroDocs />
	</main>
</Layout>