---
import Layout from "~/layouts/Layout.astro";

import Pricing from "~/components/astro/pricing/pricing.astro";
---

<Layout title="Pricing - Photon" description="I am the pricing page">
    <main class="w-[100vw] h-[93.9vh]">
        <Pricing />
    </main>
</Layout>